name: Update Packages

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ main ]
  #pull_request:
  #  branches: [ main ]
  schedule:
    - cron:  '35 7 * * *' # UTC !
  workflow_dispatch:

env:
  # Set au version to use or omit to use the latest. Specify branch name to use development version from Github
  au_version: "master"
  au_push: true
  # Force test: use 1 to test all, or N to split testing into N groups
  au_test_groups: 1

  # Github token to commit pushed packages to repository
  github_user_repo: ${{ github.repository }}
  github_api_key: ${{ secrets.GH_API_KEY }} # https://help.github.com/en/actions/configuring-and-managing-workflows/creating-and-storing-encrypted-secrets

  # Mail credentials - for error notifications
  #mail_user: ${{ secrets.MAIL_USER }} # https://help.github.com/en/actions/configuring-and-managing-workflows/creating-and-storing-encrypted-secrets
  #mail_pass: ${{ secrets.MAIL_PASS }} # https://help.github.com/en/actions/configuring-and-managing-workflows/creating-and-storing-encrypted-secrets
  #mail_server: smtp.gmail.com
  #mail_port: 587
  #mail_enablessl: true

  # ID of the gist used to save run results - create a gist under the github_user (secret or not) and grab the id - https://gist.github.com/name/id
  # Optional, leave empty to create anonymous gist
  gist_id: be944da6cbb50300f2e3114bf35724a0

  # Force test: gist id for test results
  gist_id_test: ea6573baa8fb6d00a37e3bc209af4d5d

  # Chocolatey API key - to push updated packages
  api_key: ${{ secrets.CHOCO_API_KEY }} # https://help.github.com/en/actions/configuring-and-managing-workflows/creating-and-storing-encrypted-secrets

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  au:
    # The type of runner that the job will run on
    runs-on: windows-latest
    if: |
      !contains(format('{0} {1}', github.event.head_commit.message, github.event.pull_request.title), '[skip ci]')
    defaults:
      run:
        shell: powershell

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v6

    - name: init
      run: |
        git config --global user.email "chocolatey@realdimensions.net"
        git config --global user.name "Chocolatey"
        git config --global core.safecrlf false

    - name: fake .appveyor.yml variables
      run: |
        if($env:GITHUB_EVENT_NAME -like "schedule") {
          Write-Output "APPVEYOR_SCHEDULED_BUILD=true" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
        }
        # do not set APPVEYOR_FORCED_BUILD, APPVEYOR_RE_BUILD - gh-actions can not be re-run, can they?
        Write-Output "APPVEYOR_PROJECT_NAME=$($env:GITHUB_WORKFLOW)" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
        Write-Output "APPVEYOR_REPO_COMMIT_MESSAGE<<EOF-EOF-EOF" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
        Write-Output "$($env:COMMIT_MSG)" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
        Write-Output "EOF-EOF-EOF" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
      env:
        COMMIT_MSG: ${{ github.event.head_commit.message }}

    - name: install
      run: |
        Get-CimInstance win32_operatingsystem -Property Caption, OSArchitecture, Version | fl Caption, OSArchitecture, Version
        $PSVersionTable
        git --version
        choco --version
        Get-ChildItem env:* | sort-object name
        git clone -q https://github.com/majkinetor/au.git $Env:TEMP/au
        . "$Env:TEMP/au/scripts/Install-AU.ps1" ${env:au_version}
        "Build info"
        '  {0,-20} {1}' -f 'SCHEDULED BUILD:', (${env:APPVEYOR_SCHEDULED_BUILD} -eq 'true')
        '  {0,-20} {1}' -f 'FORCED BUILD:'   , (${env:APPVEYOR_FORCED_BUILD}    -eq 'true')
        '  {0,-20} {1}' -f 'RE BUILD:'       , (${env:APPVEYOR_RE_BUILD}        -eq 'true')
        # Uncomment the below line if you are using any of the functions from chocolatey-core.extension - https://chocolatey.org/packages/chocolatey-core.extension. Ensure you also have it listed in your package's dependencies
        #  cinst chocolatey-core.extension

    - name: do update
      run: |
        $ErrorActionPreference = 'Continue'
        $PSDefaultParameterValues['*:Encoding'] = 'utf8'

        if ($Env:APPVEYOR_PROJECT_NAME  -like '*test*') { ./test_all.ps1 "random $Env:au_test_groups"; return }

        if ( ($Env:APPVEYOR_SCHEDULED_BUILD -ne 'true') -and ($Env:APPVEYOR_FORCED_BUILD -ne 'true') ) {
            switch -regex ($Env:APPVEYOR_REPO_COMMIT_MESSAGE)
            {
                '\[AU (.+?)\]'   { $forced = $Matches[1] }

                '\[PUSH (.+?)\]' {
                    $packages = $Matches[1] -split ' '
                    Write-Host "PUSHING PACKAGES: $packages"
                    foreach ($package in $packages) {
                        Write-Host ("{0}`n{1}`n" -f ('-'*60), "PACKAGE: $package")
                        $package_dir = ls -recurse | ? { $_.Name -eq "$package.nuspec"} | select -First 1 | % Directory
                        if (!$package_dir) { Write-Warning "Can't find package '$package'"; continue }
                        pushd $package_dir
                          if (Test-Path update.ps1 -ea 0) { ./update.ps1 }
                          choco pack; Push-Package;
                        popd
                    }
                    return
                }
            }
        }

        ./update_all.ps1 -ForcedPackages $forced
        7z a au_temp.zip ${env:TEMP}\chocolatey\au\*

    - name: upload artifacts 1/2
      uses: actions/upload-artifact@v5
      with:
       name: result
       path: |
        update_info.xml
        Update-AUPackages.md

    - name: upload artifacts 2/2
      uses: actions/upload-artifact@v5
      with:
       name: au_temp
       path: ${env:TEMP}\chocolatey\au\

# notify job ( runs on ubuntu for action-slack-notify )
  notify:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: pwsh
    needs: au
    steps:

    - name: download result artefact
      uses: actions/download-artifact@v6
      with:
        name: result
    
    - name: prepare output
      run: |
        $info = Import-CliXml update_info.xml
        if(!!$info.result.errors.ToString()) {
          # errors 
          Write-Output "SLACK_ICON_EMOJI=:male-detective:" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          Write-Output "SLACK_COLOR=#ff0000" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
        } elseIf (!!$info.result.pushed.ToString()) {
          Write-Output "SLACK_ICON_EMOJI=:+1:" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          Write-Output "SLACK_COLOR=#00ff00" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
        } else {
          Write-Output "SLACK_ICON_EMOJI=:face_with_rolling_eyes:" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          Write-Output "SLACK_COLOR=#ffff00" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
        }
          Write-Output "SLACK_MESSAGE=$($info.stats)" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

    - name: notify slack
      uses: rtCamp/action-slack-notify@master
      env:
        SLACK_ICON: 
        SLACK_USERNAME: 'AU Bot @ github'
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}

